# _Dataset Sanction Eco_
***semaine Random Forest***

In [92]:
#! pip install missingno

In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
from scipy import stats

## _Découverte des données_

In [94]:
df =  pd.read_excel('data/DATABASE.xls', header=3)

In [95]:
#df.get_dtype_counts

In [96]:
df.head()

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh,...,Cost to target per capitabb,Trade linkagecc,GNP \nratiodd,Health and stabilityee,Sanction typeff,Cost to sendergg,"GDP growth (percent, 5-year average)hh","Inflation (percent,\n 3-year average)ii",Target International Monetary Fund codejj,Country groupkk
0,14-1,UNITED KINGDOM,NaN,NaN,GERMANY,Military victory,0.0,0.0,4.0,1914.0,...,12.58,9,1.0,3.0,"F,X,M",4.0,3.58,2.86667,134,1.0
1,17-1,UNITED STATES,NaN,NaN,JAPAN,Shipping for Allies,1.0,1.0,5.0,1917.0,...,0.44,20.5,13.0,3.0,X,2.0,5.4,25.6,158,1.0
2,18-1,UNITED KINGDOM,NaN,NaN,RUSSIA,Destabilize Bolsheviks,0.0,0.0,2.0,1918.0,...,2.49,18.5,1.0,1.0,"F,X,M",3.0,n.a.,n.a.,922,2.0
3,21-1,LEAGUE OF NATIONS,NaN,NaN,YUGOSLAVIA,Military disruption vs. Albania,0.0,0.0,3.0,1921.0,...,--,26.5,37.0,2.0,--,2.0,-1.5,n.a.,188,2.0
4,25-1,LEAGUE OF NATIONS,NaN,NaN,GREECE,Withdraw from Bulgaria,0.0,0.0,3.0,1925.0,...,--,36,56.0,2.0,--,2.0,3.3,48.8,174,1.0

In [97]:
df.tail()

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh,...,Cost to target per capitabb,Trade linkagecc,GNP \nratiodd,Health and stabilityee,Sanction typeff,Cost to sendergg,"GDP growth (percent, 5-year average)hh","Inflation (percent,\n 3-year average)ii",Target International Monetary Fund codejj,Country groupkk
241,"gg. Cost to sender is an index, where 1 = net ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,hh. This is the average rate of GDP growth dur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,ii. This is the average rate of inflation duri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,jj. Target’s International Monetary Fund Count...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,kk. Indicates the regional grouping to which t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df.shape

(246, 39)

In [99]:
df.columns

Index(['Case no.b', 'Sender c', 'Sender 2c', 'Sender 3c', 'Targetd', 'Goal',
       'US casee', 'US unilateral casef', 'Foreign policy goal categoryg',
       'First yearh', 'Last yeari', 'Policy resultj',
       'Sanctions contributionk', 'Success \nscorel', 'Companion policiesm',
       'International cooperationn', 'International assistanceo',
       'Cooperating international organizationp',
       'International organization senderq',
       'International organization sender & target membersr',
       'Length (years)s', 'Prior relationst',
       'Regime Type \n(DEMOC 1st year)u', 'Regime Type2 (Polity2 1st year)v',
       'Regime Type3 \n(Scale 1st year)w', 'Political stability priorx',
       'Political stability duringy', 'Cost to targetz',
       'Cost to target (percent of GNP)aa', 'Cost to target per capitabb',
       'Trade linkagecc', 'GNP \nratiodd', 'Health and stabilityee',
       'Sanction typeff', 'Cost to sendergg',
       'GDP growth (percent, 5-year average)hh',
       'Inflation (percent,\n 3-year average)ii',
       'Target International Monetary Fund codejj', 'Country groupkk'],
      dtype='object')

### Séparation des données des  commentaires 
Qui se trouvent dans les 42 dernières lignes du DF

In [100]:
comment = df.loc[205:]
comment = comment[:]

In [101]:
comment

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh,...,Cost to target per capitabb,Trade linkagecc,GNP \nratiodd,Health and stabilityee,Sanction typeff,Cost to sendergg,"GDP growth (percent, 5-year average)hh","Inflation (percent,\n 3-year average)ii",Target International Monetary Fund codejj,Country groupkk
205,ECOWAS = Economic Community of West African St...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,-- = not applicable unless specifically define...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,n.a. = not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,a. This is the database used for the statistic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,"b. Cases involving multiple goals, phases, or ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,"c. The sender, in some cases more than one, ta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,d. The target is the country against which san...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,e. A dummy variable equal to 1 when the US is ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,f. A dummy variable equal to 1 when the US imp...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,g. The numbers in this column correspond to th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,h. This is the year of the first recorded sanc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,"i. This is the year when the case ends, either...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,j. The policy result indicates the extent to w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,k. The sanctions contribution indicates the ex...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,l. The success score is an index on a scale of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,m. Types of companion policies are covert acti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,n. The extent of international cooperation wit...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,"o. International assistance to target, indicat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,p. A cooperating international organization is...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,q. A dummy variable where 1 indicates that an ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,r. A dummy variable where 1 indicates that an ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,s. The length is the time (rounded to the near...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,t. Prior relations is an index that measures t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,u. Regime Type is the value of the Polity IV v...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,v. Regime Type2 is the value of the Polity2 va...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,w. Regime Type3 collapses the Polity2 data to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,x. This is a normalized measure of political s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,y. This is a normalized measure of political s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,z. The cost to target in millions of current U...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,"aa. For purposes of calculating averages, we d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,"bb. For purposes of calculating averages, we d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,cc. The trade linkage equals the average of pr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,dd. GNP ratio is the ratio of the sender's GNP...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,ee. The health & stability index measures the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,ff. Sanction types include the interruption of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,"gg. Cost to sender is an index, where 1 = net ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,hh. This is the average rate of GDP growth dur...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,ii. This is the average rate of inflation duri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,jj. Target’s International Monetary Fund Count...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,kk. Indicates the regional grouping to which t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df = df.loc[:203]
df.head()

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh,...,Cost to target per capitabb,Trade linkagecc,GNP \nratiodd,Health and stabilityee,Sanction typeff,Cost to sendergg,"GDP growth (percent, 5-year average)hh","Inflation (percent,\n 3-year average)ii",Target International Monetary Fund codejj,Country groupkk
0,14-1,UNITED KINGDOM,NaN,NaN,GERMANY,Military victory,0.0,0.0,4.0,1914.0,...,12.58,9,1.0,3.0,"F,X,M",4.0,3.58,2.86667,134,1.0
1,17-1,UNITED STATES,NaN,NaN,JAPAN,Shipping for Allies,1.0,1.0,5.0,1917.0,...,0.44,20.5,13.0,3.0,X,2.0,5.4,25.6,158,1.0
2,18-1,UNITED KINGDOM,NaN,NaN,RUSSIA,Destabilize Bolsheviks,0.0,0.0,2.0,1918.0,...,2.49,18.5,1.0,1.0,"F,X,M",3.0,n.a.,n.a.,922,2.0
3,21-1,LEAGUE OF NATIONS,NaN,NaN,YUGOSLAVIA,Military disruption vs. Albania,0.0,0.0,3.0,1921.0,...,--,26.5,37.0,2.0,--,2.0,-1.5,n.a.,188,2.0
4,25-1,LEAGUE OF NATIONS,NaN,NaN,GREECE,Withdraw from Bulgaria,0.0,0.0,3.0,1925.0,...,--,36,56.0,2.0,--,2.0,3.3,48.8,174,1.0

In [103]:
df_awa = df.iloc[:,:10]
df_awa.head()

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh
0,14-1,UNITED KINGDOM,NaN,NaN,GERMANY,Military victory,0.0,0.0,4.0,1914.0
1,17-1,UNITED STATES,NaN,NaN,JAPAN,Shipping for Allies,1.0,1.0,5.0,1917.0
2,18-1,UNITED KINGDOM,NaN,NaN,RUSSIA,Destabilize Bolsheviks,0.0,0.0,2.0,1918.0
3,21-1,LEAGUE OF NATIONS,NaN,NaN,YUGOSLAVIA,Military disruption vs. Albania,0.0,0.0,3.0,1921.0
4,25-1,LEAGUE OF NATIONS,NaN,NaN,GREECE,Withdraw from Bulgaria,0.0,0.0,3.0,1925.0

In [104]:
df_awa.dtypes

Case no.b                         object
Sender c                          object
Sender 2c                         object
Sender 3c                         object
Targetd                           object
Goal                              object
US casee                         float64
US unilateral casef              float64
Foreign policy goal categoryg    float64
First yearh                      float64
dtype: object

## Détection des valeurs manquantes par colonne

In [105]:
val_manq = df_awa.isnull().sum()
val_manq

Case no.b                          0
Sender c                           0
Sender 2c                        145
Sender 3c                        192
Targetd                            0
Goal                               0
US casee                           0
US unilateral casef                0
Foreign policy goal categoryg      0
First yearh                        0
dtype: int64

## Remplacement des Na values par 0

In [106]:
df_awat = df_awa.fillna(0)

In [81]:
df_awa

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh
0,14-1,UNITED KINGDOM,0,0,GERMANY,Military victory,0.0,0.0,4.0,1914.0
1,17-1,UNITED STATES,0,0,JAPAN,Shipping for Allies,1.0,1.0,5.0,1917.0
2,18-1,UNITED KINGDOM,0,0,RUSSIA,Destabilize Bolsheviks,0.0,0.0,2.0,1918.0
3,21-1,LEAGUE OF NATIONS,0,0,YUGOSLAVIA,Military disruption vs. Albania,0.0,0.0,3.0,1921.0
4,25-1,LEAGUE OF NATIONS,0,0,GREECE,Withdraw from Bulgaria,0.0,0.0,3.0,1925.0
...,...,...,...,...,...,...,...,...,...,...
199,98-3,TURKEY,0,0,ITALY,Kurdish leader,0.0,0.0,1.0,1998.0
200,99-1,UNITED NATIONS,UNITED STATES,0,AFGHANISTAN,Extradite Osama bin Laden,1.0,0.0,1.0,1999.0
201,99-2,UNITED STATES,EUROPEAN UNION,FRANCE,IVORY COAST,"Coup, democracy",1.0,0.0,2.0,1999.0
202,99-3,UNITED STATES,JAPAN,0,PAKISTAN,"Coup, democracy",1.0,0.0,2.0,1999.0
203,00-1,UNITED STATES,0,0,ECUADOR,Coup,1.0,0.0,2.0,2000.0

In [83]:
df_awa['Targetd'].unique()

array(['GERMANY', 'JAPAN', 'RUSSIA', 'YUGOSLAVIA', 'GREECE',
       '(PARAGUAY), BOLIVIA', 'PARAGUAY,(BOLIVIA)', 'USSR', 'ITALY',
       'MEXICO', 'GERMANY, (JAPAN)', '(GERMANY), JAPAN', 'ARGENTINA',
       'ISRAEL', 'NETHERLANDS', 'HYDERABAD',
       '(UNITED STATES), UNITED KINGDOM, (FRANCE)',
       'UNITED STATES, (UNITED KINGDOM, FRANCE)',
       '(UNITED STATES, UNITED KINGDOM), FRANCE', 'USSR, COMECON',
       'CHINA', 'NORTH KOREA', 'IRAN', 'AUSTRALIA', 'PORTUGAL',
       'UNITED KINGDOM', 'NORTH VIETNAM', 'EGYPT', 'LAOS', 'TUNISIA',
       'FINLAND', 'DOMINICAN REPUBLIC', 'CUBA', 'CEYLON', 'ALBANIA',
       'GDR', 'BRAZIL', 'SOUTH AFRICA', 'ROMANIA', 'MALAYSIA',
       'INDONESIA', 'SOUTH VIETNAM', 'CHILE', 'INDIA', 'RHODESIA',
       'BIAFRA', 'PERU', 'INDIA,(PAKISTAN)', '(INDIA), PAKISTAN', 'MALTA',
       'UGANDA', 'UNITED STATES, (NETHERLANDS)',
       '(UNITED STATES), NETHERLANDS', 'SOUTH KOREA', 'TURKEY',
       'PAKISTAN', 'KAMPUCHEA', 'URUGUAY', 'TAIWAN', 'ARAB LEAGUE',
       'PARAGUAY', 'GUATEMALA', '(JAPAN), EUROPEAN COMMUNITY',
       'JAPAN, (EUROPEAN COMMUNITY)', 'NICARAGUA', 'EL SALVADOR',
       'ETHIOPIA', 'VIETNAM', 'LIBYA', 'CANADA', 'BOLIVIA', 'IRAQ',
       'POLAND', 'SURINAME', 'LESOTHO', 'FRANCE', 'ZIMBABWE', 'GRENADA',
       'LEBANON', 'SYRIA', 'ANGOLA', 'NEW ZEALAND', 'PANAMA', 'HAITI',
       'FIJI', 'BURMA', 'SOMALIA', 'NEPAL', 'SUDAN', 'ARMENIA',
       'IRAQ, postwar', 'IRAQ, prewar', 'KENYA', 'ZAIRE', 'LITHUANIA',
       '(JORDAN), YEMEN et al.', 'JORDAN, (YEMEN et al.)', 'THAILAND',
       'TURKMENISTAN', 'LIBERIA', 'TOGO', 'MALAWI', 'EQUATORIAL GUINEA',
       'ALGERIA', 'CAMEROON', 'AZERBAIJAN', 'CAMBODIA, KHMER ROUGE',
       'ESTONIA', 'LATVIA', 'ANGOLA, UNITA', 'NIGERIA', 'UKRAINE',
       'KAZAKHSTAN', 'MACEDONIA', 'RWANDA', 'THE GAMBIA',
       'PERU, (ECUADOR)', '(PERU), ECUADOR', 'BURUNDI', 'NIGER ',
       'ZAMBIA', 'COLOMBIA', 'SIERRA LEONE', 'YUGOSLAVIA, SERBIA',
       'AFGHANISTAN', 'IVORY COAST', 'ECUADOR'], dtype=object)

In [84]:
df_awa['Goal'].unique()

array(['Military victory', 'Shipping for Allies',
       'Destabilize Bolsheviks', 'Military disruption vs. Albania',
       'Withdraw from Bulgaria', 'Settle the Chaco War',
       'Release British citizens', 'Withdraw from Abyssinia',
       'Expropriation dispute', 'Regime change',
       'Withdraw from Southeast Asia', 'Destabilize Peron',
       'Create Palestinian homeland', 'Recognize Indonesia',
       'Assimilate Hyderabad', 'Berlin blockade',
       'Destabilize Tito government', 'Impair military potential',
       'Military disruption, Korea', 'Military impairment',
       'Destabilize Mussadiq', 'Repatriate Soviet defector',
       'Assimilate Goa into India', 'Sovereignty over Gibraltar',
       'Account for MIAs, withdrawal from Cambodia',
       'Intermittent, various', 'Suez nationalization',
       'End Suez intervention', 'Destabilization',
       'Control of West Irian', 'Assistance to Algerian rebels',
       'Adopt pro-USSR policies', 'Destabilize Trujillo',
       'Destabilize Castro', 'Disruption of military adventures',
       'Destabilize Hoxha', 'Berlin Wall',
       'Expropriation, destabilization', 'End apartheid; Namibia',
       'Limit economic independence', 'Military disruption,Yemen,Congo',
       '"Crush Malaysia" ', 'End "Crush Malaysia"', 'Destabilize Diem',
       'Free African colonies', 'Expropriation', 'Reduce copper price',
       'Agriculture policy', 'Majority rule', 'End civil war',
       'French fighter jets', 'Destabilize Allende',
       'Military disruption, Pakistan', 'Defense Agreement',
       'Destabilize Amin', 'Support for Israel', 'Human rights',
       'Military disruption, Cyprus', 'Nuclear proliferation',
       'Freer emigration', 'Nuclear policy', 'Human rights,deter Viets',
       'Restore democracy', 'Human rights, Letelier', 'Antiboycott',
       'Nuclear safeguards', 'Destabilize Somoza',
       'Human rights, expropriation', 'Anti-Chinese rhetoric',
       'Human rights (dissidents)', 'Camp David accords',
       'Withdraw from Kampuchea', 'Destabilize Gadhafi',
       'Return hostages', 'Planned Israel embassy move',
       'Human rights, drugs', 'Invasion of Afghanistan',
       'Impairment, Afghanistan', 'Terrorism', 'Destabilize Sandinistas',
       'Various, Solidarity', 'Impairment, Poland',
       'Withdraw from Falklands', 'Human rights, Cuba-Libya influence',
       'Return South African refugees', 'Nuclear testing',
       'KAL shooting down', 'Foreign policy',
       'Destabilize Bishop-Austin regime', 'Democracy, elections',
       'Human rights, emigration',
       'Nuclear proliferation, terrorism, etc.',
       'Hostage taking, Hezbollah activities ', 'Apartheid',
       'Cuban troops; Marxism', 'Aegean Island; Cyprus; human rights',
       'Repatriation of French agents', 'Destabilize Noriega',
       'Human rights, drugs, elections', 'Amnesty',
       'Restore democracy, modify constitution',
       'Human rights, elections', 'Human rights; civil war',
       'Relations with China', 'Human rights (Tiananmen Square)',
       'Human rights; democracy', 'Withdraw from Nagorno-Karabakh',
       'Military disruption; restore Kuwaiti government; release hostages',
       'Human rights, end civil war',
       'Political repression, human rights, democracy', 'Democracy',
       'Revoke independence declaration', 'Enforce UN embargo v. Iraq',
       'Civil war in Bosnia', 'Coup', 'Human rights in East Timor',
       'Independence for East Timor', 'Human rights for Russians',
       'Democracy, human rights',
       'Support for Revolutionary United Front', 'Civil war ',
       'Human rights, democracy', 'End Armenia embargo',
       'Ban Khmer Rouge', 'Arms sales to Taiwan',
       'Civil control over military; expropriation claims',
       'Extradite Pan Am suspects', 'Civil war, democracy',
       'Human rights, democracy, narcotics',
       'Terrorism, religious persecution',
       'Control over Black Sea fleet and nuclear weapons',
       'Independence issues, energy resources', 'National identity',
       'Release of jailed ethnic Greek leaders', 'Civil violence',
       'Border conflict', 'Human rights; constitutional reform',
       'Narcotics, human rights', 'Possible coup attempt',
       'Destabilize Milosevic', 'Kosovo', 'Kurdish leader',
       'Extradite Osama bin Laden', 'Coup, democracy'], dtype=object)

In [90]:
df_awa['US casee'].value_counts()

1.0    140
0.0     64
Name: US casee, dtype: int64

In [91]:
df_awa['US unilateral casef'].value_counts()

0.0    133
1.0     71
Name: US unilateral casef, dtype: int64

In [87]:
df_awa['Foreign policy goal categoryg'].unique()

array([4., 5., 2., 3., 1.])

In [88]:
df_test['First yearh'].unique()

array([1914., 1917., 1918., 1921., 1925., 1932., 1933., 1935., 1938.,
       1939., 1941., 1940., 1944., 1946., 1948., 1949., 1950., 1951.,
       1954., 1975., 1956., 1957., 1958., 1960., 1990., 1961., 1962.,
       1963., 1964., 1965., 1967., 1968., 1970., 1971., 1972., 1973.,
       1974., 1983., 1976., 1977., 1978., 1979., 1998., 1980., 1981.,
       1982., 1995., 1984., 1985., 1986., 1987., 1988., 1989., 1991.,
       1999., 2000., 1992., 1997., 2002., 1993., 1994., 1996.])

In [37]:
df_test['Sender c'].unique()

array(['UNITED KINGDOM', 'UNITED STATES', 'LEAGUE OF NATIONS',
       'ARAB LEAGUE', 'INDIA', 'USSR', 'SPAIN', 'INDONESIA', 'FRANCE',
       'UNITED NATIONS', 'OAU', 'NIGERIA', 'CANADA', 'CHINA',
       'EUROPEAN COMMUNITY', 'NETHERLANDS', 'SOUTH AFRICA', 'AUSTRALIA',
       'GREECE', 'TURKEY, AZERBAIJAN', 'USSR/RUSSIA', 'ECOWAS',
       'EUROPEAN UNION', 'GREECE ', 'EAST AFRICAN MEMBERS OF OAU',
       'TURKEY'], dtype=object)

In [38]:
df_test['Sender c'].value_counts()

UNITED STATES                  123
UNITED NATIONS                  15
USSR                            10
USSR/RUSSIA                      5
LEAGUE OF NATIONS                5
ARAB LEAGUE                      5
UNITED KINGDOM                   5
EUROPEAN UNION                   4
CANADA                           4
INDIA                            4
CHINA                            3
FRANCE                           3
GREECE                           2
ECOWAS                           2
AUSTRALIA                        2
INDONESIA                        2
SPAIN                            1
SOUTH AFRICA                     1
EUROPEAN COMMUNITY               1
OAU                              1
NETHERLANDS                      1
GREECE                           1
TURKEY, AZERBAIJAN               1
TURKEY                           1
EAST AFRICAN MEMBERS OF OAU      1
NIGERIA                          1
Name: Sender c, dtype: int64

In [39]:
df_test['Sender 2c'].value_counts()

UNITED STATES         10
UNITED NATIONS         7
UNITED KINGDOM         7
EUROPEAN UNION         4
EUROPEAN UNION         4
ALLIANCE POWERS        4
NETHERLANDS            2
WESTERN DONORS         2
SAUDI ARABIA           2
SOUTH VIETNAM          2
CHINCOM                2
BELGIUM                1
MERCOSUR               1
ECOWAS                 1
COMMONWEALTH           1
OECS                   1
JAPAN                  1
COCOM                  1
AUSTRALIA              1
CANADA                 1
SPAIN                  1
WESTERN ALLIES         1
FRANCE                 1
EUROPEAN COMMUNITY     1
Name: Sender 2c, dtype: int64

In [40]:
df_test['Sender 3c'].value_counts()

FRANCE                               3
GERMANY                              3
JAPAN                                2
UNITED KINGDOM                       1
ORGANIZATION OF \nAMERICAN STATES    1
NEW ZEALAND                          1
EUROPEAN COMMUNITY                   1
Name: Sender 3c, dtype: int64

In [108]:
df_awa[df_awa['Targetd'].str.contains(',')]

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh
5,32-1,LEAGUE OF NATIONS,0,0,"(PARAGUAY), BOLIVIA",Settle the Chaco War,0.0,0.0,3.0,1932.0
6,32-1,LEAGUE OF NATIONS,0,0,"PARAGUAY,(BOLIVIA)",Settle the Chaco War,0.0,0.0,3.0,1932.0
10,39-1,UNITED STATES,ALLIANCE POWERS,0,"GERMANY, (JAPAN)",Regime change,1.0,0.0,2.0,1939.0
11,39-1,UNITED STATES,ALLIANCE POWERS,0,"(GERMANY), JAPAN",Regime change,1.0,0.0,2.0,1941.0
12,39-1,UNITED STATES,ALLIANCE POWERS,0,"GERMANY, (JAPAN)",Military victory,1.0,0.0,4.0,1939.0
13,39-1,UNITED STATES,ALLIANCE POWERS,0,"(GERMANY), JAPAN",Military victory,1.0,0.0,4.0,1941.0
19,48-3,USSR,0,0,"(UNITED STATES), UNITED KINGDOM, (FRANCE)",Berlin blockade,0.0,0.0,5.0,1948.0
20,48-3,USSR,0,0,"UNITED STATES, (UNITED KINGDOM, FRANCE)",Berlin blockade,0.0,0.0,5.0,1948.0
21,48-3,USSR,0,0,"(UNITED STATES, UNITED KINGDOM), FRANCE",Berlin blockade,0.0,0.0,5.0,1948.0
23,48-5,UNITED STATES,COCOM,0,"USSR, COMECON",Impair military potential,1.0,0.0,4.0,1948.0
66,71-1,UNITED STATES,0,0,"INDIA,(PAKISTAN)","Military disruption, Pakistan",1.0,1.0,3.0,1971.0
67,71-1,UNITED STATES,0,0,"(INDIA), PAKISTAN","Military disruption, Pakistan",1.0,1.0,3.0,1971.0
70,73-1,ARAB LEAGUE,0,0,"UNITED STATES, (NETHERLANDS)",Support for Israel,0.0,0.0,5.0,1973.0
71,73-1,ARAB LEAGUE,0,0,"(UNITED STATES), NETHERLANDS",Support for Israel,0.0,0.0,5.0,1973.0
88,77-4,CANADA,0,0,"(JAPAN), EUROPEAN COMMUNITY",Nuclear safeguards,0.0,0.0,1.0,1977.0
89,77-4,CANADA,0,0,"JAPAN, (EUROPEAN COMMUNITY)",Nuclear safeguards,0.0,0.0,1.0,1977.0
142,90-1,UNITED NATIONS,UNITED STATES,0,"IRAQ, postwar",Destabilization,1.0,0.0,2.0,1991.0
143,90-1,UNITED NATIONS,UNITED STATES,0,"IRAQ, postwar",Military impairment,1.0,0.0,4.0,1991.0
144,90-1,UNITED NATIONS,UNITED STATES,0,"IRAQ, prewar",Military disruption; restore Kuwaiti governmen...,1.0,0.0,5.0,1990.0
149,90-6,UNITED STATES,SAUDI ARABIA,0,"(JORDAN), YEMEN et al.",Enforce UN embargo v. Iraq,1.0,0.0,1.0,1990.0
150,90-6,UNITED STATES,SAUDI ARABIA,0,"JORDAN, (YEMEN et al.)",Enforce UN embargo v. Iraq,1.0,0.0,1.0,1990.0
168,92-8,UNITED NATIONS,UNITED STATES,GERMANY,"CAMBODIA, KHMER ROUGE",Democracy,1.0,0.0,2.0,1997.0
169,92-8,UNITED NATIONS,UNITED STATES,GERMANY,"CAMBODIA, KHMER ROUGE",Ban Khmer Rouge,1.0,0.0,2.0,1992.0
178,93-3,UNITED NATIONS,0,0,"ANGOLA, UNITA","Civil war, democracy",1.0,0.0,5.0,1993.0
187,95-1,UNITED STATES,0,0,"PERU, (ECUADOR)",Border conflict,1.0,1.0,3.0,1995.0
188,95-1,UNITED STATES,0,0,"(PERU), ECUADOR",Border conflict,1.0,1.0,3.0,1995.0
197,98-2,UNITED STATES,EUROPEAN UNION,0,"YUGOSLAVIA, SERBIA",Destabilize Milosevic,1.0,0.0,2.0,1998.0
198,98-2,UNITED STATES,EUROPEAN UNION,0,"YUGOSLAVIA, SERBIA",Kosovo,1.0,0.0,5.0,1998.0

In [110]:
df_awa[df_awa['Goal'].str.contains(',')]

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh
25,49-1,UNITED STATES,CHINCOM,0,CHINA,"Military disruption, Korea",1.0,0.0,4.0,1950.0
32,54-4,UNITED STATES,SOUTH VIETNAM,0,NORTH VIETNAM,"Account for MIAs, withdrawal from Cambodia",1.0,0.0,3.0,1975.0
34,56-1,UNITED STATES,0,0,ISRAEL,"Intermittent, various",1.0,1.0,5.0,1956.0
49,62-1,UNITED STATES,0,0,BRAZIL,"Expropriation, destabilization",1.0,1.0,2.0,1962.0
52,63-1,UNITED STATES,0,0,EGYPT,"Military disruption,Yemen,Congo",1.0,1.0,3.0,1963.0
66,71-1,UNITED STATES,0,0,"INDIA,(PAKISTAN)","Military disruption, Pakistan",1.0,1.0,3.0,1971.0
67,71-1,UNITED STATES,0,0,"(INDIA), PAKISTAN","Military disruption, Pakistan",1.0,1.0,3.0,1971.0
73,74-1,UNITED STATES,0,0,TURKEY,"Military disruption, Cyprus",1.0,1.0,3.0,1974.0
79,75-4,UNITED STATES,0,0,KAMPUCHEA,"Human rights,deter Viets",1.0,1.0,2.0,1975.0
81,75-5,UNITED STATES,0,0,CHILE,"Human rights, Letelier",1.0,1.0,1.0,1975.0
93,77-8,UNITED STATES,0,0,ETHIOPIA,"Human rights, expropriation",1.0,1.0,2.0,1977.0
107,79-4,UNITED STATES,0,0,BOLIVIA,"Human rights, drugs",1.0,1.0,2.0,1979.0
109,80-1,UNITED STATES,0,0,USSR,"Impairment, Afghanistan",1.0,0.0,4.0,1980.0
112,81-2,UNITED STATES,0,0,POLAND,"Various, Solidarity",1.0,0.0,2.0,1981.0
113,81-3,UNITED STATES,0,0,USSR,"Impairment, Poland",1.0,1.0,4.0,1981.0
116,82-2,NETHERLANDS,0,0,SURINAME,"Human rights, Cuba-Libya influence",0.0,0.0,2.0,1982.0
123,83-5,UNITED STATES,0,0,ROMANIA,"Democracy, elections",1.0,1.0,2.0,1990.0
124,83-5,UNITED STATES,0,0,ROMANIA,"Human rights, emigration",1.0,1.0,2.0,1983.0
125,84-1,UNITED STATES,0,0,IRAN,"Nuclear proliferation, terrorism, etc.",1.0,1.0,4.0,1984.0
126,84-2,UNITED STATES,0,0,LEBANON,"Hostage taking, Hezbollah activities",1.0,1.0,1.0,1984.0
133,87-2,UNITED STATES,0,0,HAITI,"Human rights, drugs, elections",1.0,1.0,2.0,1987.0
135,87-4,INDIA,AUSTRALIA,NEW ZEALAND,FIJI,"Restore democracy, modify constitution",0.0,0.0,2.0,1987.0
136,88-1,UNITED STATES,EUROPEAN UNION,JAPAN,BURMA,"Human rights, elections",1.0,0.0,2.0,1988.0
145,90-2,UNITED STATES,0,0,EL SALVADOR,"Human rights, end civil war",1.0,1.0,2.0,1990.0
146,90-3,UNITED STATES,WESTERN DONORS,0,KENYA,"Political repression, human rights, democracy",1.0,0.0,2.0,1990.0
159,91-8,UNITED STATES,0,0,PERU,"Democracy, human rights",1.0,0.0,2.0,1991.0
162,92-2,EUROPEAN UNION,FRANCE,GERMANY,TOGO,"Democracy, human rights",0.0,0.0,2.0,1992.0
163,92-3,UNITED STATES,UNITED KINGDOM,0,MALAWI,"Democracy, human rights",1.0,0.0,2.0,1992.0
164,92-4,EUROPEAN UNION,SPAIN,0,EQUATORIAL GUINEA,"Democracy, human rights",0.0,0.0,2.0,1992.0
166,92-6,UNITED STATES,0,0,CAMEROON,"Human rights, democracy",1.0,1.0,2.0,1992.0
178,93-3,UNITED NATIONS,0,0,"ANGOLA, UNITA","Civil war, democracy",1.0,0.0,5.0,1993.0
179,93-4,UNITED STATES,EUROPEAN UNION,0,NIGERIA,"Human rights, democracy, narcotics",1.0,0.0,2.0,1993.0
180,93-5,UNITED STATES,0,0,SUDAN,"Terrorism, religious persecution",1.0,0.0,1.0,1993.0
182,93-7,USSR/RUSSIA,0,0,KAZAKHSTAN,"Independence issues, energy resources",0.0,0.0,1.0,1993.0
193,96-4,UNITED STATES,0,0,COLOMBIA,"Narcotics, human rights",1.0,1.0,2.0,1996.0
201,99-2,UNITED STATES,EUROPEAN UNION,FRANCE,IVORY COAST,"Coup, democracy",1.0,0.0,2.0,1999.0
202,99-3,UNITED STATES,JAPAN,0,PAKISTAN,"Coup, democracy",1.0,0.0,2.0,1999.0

### Nombre de fois où les US ont été emitteur des sanctions internationales (US casee) de façon unilatérale ou non

In [113]:
df_awa['US casee'].value_counts()
#140

1.0    140
0.0     64
Name: US casee, dtype: int64

#### Cas où les US sont seuls emetteurs de sanction

In [115]:
df_awa['US unilateral casef'].value_counts()
# 71 fois

0.0    133
1.0     71
Name: US unilateral casef, dtype: int64

#### Le degré d'importance des changements qui resultent des sanctions

In [116]:
df_awa['Foreign policy goal categoryg'].value_counts()

2.0    80
1.0    43
5.0    33
4.0    29
3.0    19
Name: Foreign policy goal categoryg, dtype: int64

In [118]:
df_awa[df_awa['First yearh']==1977.0]

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh
85,77-1,UNITED STATES,0,0,PARAGUAY,Human rights,1.0,1.0,2.0,1977.0
86,77-2,UNITED STATES,0,0,GUATEMALA,Human rights,1.0,1.0,2.0,1977.0
87,77-3,UNITED STATES,0,0,ARGENTINA,Human rights,1.0,1.0,2.0,1977.0
88,77-4,CANADA,0,0,"(JAPAN), EUROPEAN COMMUNITY",Nuclear safeguards,0.0,0.0,1.0,1977.0
89,77-4,CANADA,0,0,"JAPAN, (EUROPEAN COMMUNITY)",Nuclear safeguards,0.0,0.0,1.0,1977.0
90,77-5,UNITED STATES,0,0,NICARAGUA,Destabilize Somoza,1.0,1.0,2.0,1977.0
91,77-6,UNITED STATES,0,0,EL SALVADOR,Human rights,1.0,1.0,2.0,1977.0
92,77-7,UNITED STATES,0,0,BRAZIL,Human rights,1.0,1.0,2.0,1977.0
93,77-8,UNITED STATES,0,0,ETHIOPIA,"Human rights, expropriation",1.0,1.0,2.0,1977.0

In [123]:
df_awa[df_awa.duplicated(['Targetd', 'Goal', 'US casee'])]

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh
44,60-3,UNITED STATES,0,0,CUBA,Destabilize Castro,1.0,1.0,2.0,1960.0
105,79-2,UNITED STATES,0,0,PAKISTAN,Nuclear policy,1.0,1.0,4.0,1979.0
119,83-1,AUSTRALIA,0,0,FRANCE,Nuclear testing,0.0,0.0,1.0,1995.0
176,93-1,UNITED STATES,UNITED NATIONS,0,NORTH KOREA,Nuclear proliferation,1.0,0.0,4.0,1993.0

In [124]:
df_awa.duplicated().sum()

0

In [134]:
df_awa[df_awa.duplicated(['Sender c', 'Targetd'], keep=False)]

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh
1,17-1,UNITED STATES,0,0,JAPAN,Shipping for Allies,1.0,1.0,5.0,1917.0
10,39-1,UNITED STATES,ALLIANCE POWERS,0,"GERMANY, (JAPAN)",Regime change,1.0,0.0,2.0,1939.0
11,39-1,UNITED STATES,ALLIANCE POWERS,0,"(GERMANY), JAPAN",Regime change,1.0,0.0,2.0,1941.0
12,39-1,UNITED STATES,ALLIANCE POWERS,0,"GERMANY, (JAPAN)",Military victory,1.0,0.0,4.0,1939.0
13,39-1,UNITED STATES,ALLIANCE POWERS,0,"(GERMANY), JAPAN",Military victory,1.0,0.0,4.0,1941.0
...,...,...,...,...,...,...,...,...,...,...
194,96-5,UNITED STATES,MERCOSUR,0,PARAGUAY,Possible coup attempt,1.0,0.0,2.0,1996.0
196,98-1,UNITED STATES,0,0,INDIA,Nuclear proliferation,1.0,0.0,4.0,1998.0
197,98-2,UNITED STATES,EUROPEAN UNION,0,"YUGOSLAVIA, SERBIA",Destabilize Milosevic,1.0,0.0,2.0,1998.0
198,98-2,UNITED STATES,EUROPEAN UNION,0,"YUGOSLAVIA, SERBIA",Kosovo,1.0,0.0,5.0,1998.0
202,99-3,UNITED STATES,JAPAN,0,PAKISTAN,"Coup, democracy",1.0,0.0,2.0,1999.0

In [170]:

x = df_awa['Sender c'].str.findall(',').str.len()

## Ajout de colonnes numériques

In [171]:
x

0      0
1      0
2      0
3      0
4      0
      ..
199    0
200    0
201    0
202    0
203    0
Name: Sender c, Length: 204, dtype: int64

In [180]:
#Ajout de nouvelle colonne aqui contient 1 quand Sender 1 est une entité internationale et 2 quand c'est 2 entités
df_awa['Sender_c_to_numeric'] = df_awa['Sender c'].str.get_dummies(',').sum(1)

In [181]:
df_awa[df_awa['Sender_c_to_numeric']==2]

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh,Sender_c_to_numeric
141,89-4,"TURKEY, AZERBAIJAN",0,0,ARMENIA,Withdraw from Nagorno-Karabakh,0.0,0.0,5.0,1989.0,2

In [188]:
df['Sender 2c'].str.get_dummies(',').sum(1)

0      0
1      0
2      0
3      0
4      0
      ..
199    0
200    1
201    1
202    1
203    0
Length: 204, dtype: int64

In [194]:
df_awa['Sender2c_to_num'] = df['Sender 2c'].str.get_dummies().sum(1)

In [193]:
df_awa['Sender3c_to_num'] = df['Sender 3c'].str.get_dummies().sum(1)

In [192]:
df['Sender 3c'].str.get_dummies().sum(1)

0      0
1      0
2      0
3      0
4      0
      ..
199    0
200    0
201    1
202    0
203    0
Length: 204, dtype: int64

In [190]:
df_awa['Sender 3c'].unique()

array([0, 'FRANCE', 'NEW ZEALAND', 'JAPAN', 'UNITED KINGDOM',
       'EUROPEAN COMMUNITY', 'ORGANIZATION OF \nAMERICAN STATES',
       'GERMANY'], dtype=object)

In [191]:
df_awa['Sender 2c'].unique()

array([0, 'UNITED KINGDOM', 'ALLIANCE POWERS', 'COCOM', 'CHINCOM',
       'UNITED NATIONS', 'SOUTH VIETNAM', 'WESTERN ALLIES', 'CANADA',
       'OECS', 'COMMONWEALTH', 'AUSTRALIA', 'EUROPEAN UNION',
       'UNITED STATES', 'WESTERN DONORS', 'BELGIUM', 'SAUDI ARABIA',
       'NETHERLANDS', 'EUROPEAN COMMUNITY', 'FRANCE', 'SPAIN',
       'EUROPEAN UNION ', 'MERCOSUR', 'ECOWAS', 'JAPAN'], dtype=object)

In [195]:
df_awa['Sender2c_to_num'].dtypes

dtype('int64')

In [213]:
# fonction qui calcule la somme nombres entre colonnes
def sum_serie(ser1, ser2, ser3):
    return(ser1 + ser2 +ser3)

In [214]:
ser1 = df_awa['Sender2c_to_num']
ser2 = df_awa['Sender3c_to_num']
ser3 = df_awa['Sender_c_to_numeric']

In [215]:
total_senders = sum_serie(ser1, ser2, ser3)

In [216]:
df_awa['Total_senders'] = total_senders

In [217]:
df_awa

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh,Sender_c_to_numeric,Sender2c_to_num,Sender3c_to_num,Total_senders
0,14-1,UNITED KINGDOM,0,0,GERMANY,Military victory,0.0,0.0,4.0,1914.0,1,0,0,1
1,17-1,UNITED STATES,0,0,JAPAN,Shipping for Allies,1.0,1.0,5.0,1917.0,1,0,0,1
2,18-1,UNITED KINGDOM,0,0,RUSSIA,Destabilize Bolsheviks,0.0,0.0,2.0,1918.0,1,0,0,1
3,21-1,LEAGUE OF NATIONS,0,0,YUGOSLAVIA,Military disruption vs. Albania,0.0,0.0,3.0,1921.0,1,0,0,1
4,25-1,LEAGUE OF NATIONS,0,0,GREECE,Withdraw from Bulgaria,0.0,0.0,3.0,1925.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,98-3,TURKEY,0,0,ITALY,Kurdish leader,0.0,0.0,1.0,1998.0,1,0,0,1
200,99-1,UNITED NATIONS,UNITED STATES,0,AFGHANISTAN,Extradite Osama bin Laden,1.0,0.0,1.0,1999.0,1,1,0,2
201,99-2,UNITED STATES,EUROPEAN UNION,FRANCE,IVORY COAST,"Coup, democracy",1.0,0.0,2.0,1999.0,1,1,1,3
202,99-3,UNITED STATES,JAPAN,0,PAKISTAN,"Coup, democracy",1.0,0.0,2.0,1999.0,1,1,0,2
203,00-1,UNITED STATES,0,0,ECUADOR,Coup,1.0,0.0,2.0,2000.0,1,0,0,1

In [198]:
df_awa['Sender2c_to_num']+ df_awa['Sender3c_to_num']+ df_awa['Sender_c_to_numeric']

0      1
1      1
2      1
3      1
4      1
      ..
199    1
200    2
201    3
202    2
203    1
Length: 204, dtype: int64

In [218]:
df_awa.dtypes

Case no.b                         object
Sender c                          object
Sender 2c                         object
Sender 3c                         object
Targetd                           object
Goal                              object
US casee                         float64
US unilateral casef              float64
Foreign policy goal categoryg    float64
First yearh                      float64
Sender_c_to_numeric                int64
Sender2c_to_num                    int64
Sender3c_to_num                    int64
Total_senders                      int64
dtype: object

In [221]:
df_awa['Targetd'].unique()

array(['GERMANY', 'JAPAN', 'RUSSIA', 'YUGOSLAVIA', 'GREECE',
       '(PARAGUAY), BOLIVIA', 'PARAGUAY,(BOLIVIA)', 'USSR', 'ITALY',
       'MEXICO', 'GERMANY, (JAPAN)', '(GERMANY), JAPAN', 'ARGENTINA',
       'ISRAEL', 'NETHERLANDS', 'HYDERABAD',
       '(UNITED STATES), UNITED KINGDOM, (FRANCE)',
       'UNITED STATES, (UNITED KINGDOM, FRANCE)',
       '(UNITED STATES, UNITED KINGDOM), FRANCE', 'USSR, COMECON',
       'CHINA', 'NORTH KOREA', 'IRAN', 'AUSTRALIA', 'PORTUGAL',
       'UNITED KINGDOM', 'NORTH VIETNAM', 'EGYPT', 'LAOS', 'TUNISIA',
       'FINLAND', 'DOMINICAN REPUBLIC', 'CUBA', 'CEYLON', 'ALBANIA',
       'GDR', 'BRAZIL', 'SOUTH AFRICA', 'ROMANIA', 'MALAYSIA',
       'INDONESIA', 'SOUTH VIETNAM', 'CHILE', 'INDIA', 'RHODESIA',
       'BIAFRA', 'PERU', 'INDIA,(PAKISTAN)', '(INDIA), PAKISTAN', 'MALTA',
       'UGANDA', 'UNITED STATES, (NETHERLANDS)',
       '(UNITED STATES), NETHERLANDS', 'SOUTH KOREA', 'TURKEY',
       'PAKISTAN', 'KAMPUCHEA', 'URUGUAY', 'TAIWAN', 'ARAB LEAGUE',
       'PARAGUAY', 'GUATEMALA', '(JAPAN), EUROPEAN COMMUNITY',
       'JAPAN, (EUROPEAN COMMUNITY)', 'NICARAGUA', 'EL SALVADOR',
       'ETHIOPIA', 'VIETNAM', 'LIBYA', 'CANADA', 'BOLIVIA', 'IRAQ',
       'POLAND', 'SURINAME', 'LESOTHO', 'FRANCE', 'ZIMBABWE', 'GRENADA',
       'LEBANON', 'SYRIA', 'ANGOLA', 'NEW ZEALAND', 'PANAMA', 'HAITI',
       'FIJI', 'BURMA', 'SOMALIA', 'NEPAL', 'SUDAN', 'ARMENIA',
       'IRAQ, postwar', 'IRAQ, prewar', 'KENYA', 'ZAIRE', 'LITHUANIA',
       '(JORDAN), YEMEN et al.', 'JORDAN, (YEMEN et al.)', 'THAILAND',
       'TURKMENISTAN', 'LIBERIA', 'TOGO', 'MALAWI', 'EQUATORIAL GUINEA',
       'ALGERIA', 'CAMEROON', 'AZERBAIJAN', 'CAMBODIA, KHMER ROUGE',
       'ESTONIA', 'LATVIA', 'ANGOLA, UNITA', 'NIGERIA', 'UKRAINE',
       'KAZAKHSTAN', 'MACEDONIA', 'RWANDA', 'THE GAMBIA',
       'PERU, (ECUADOR)', '(PERU), ECUADOR', 'BURUNDI', 'NIGER ',
       'ZAMBIA', 'COLOMBIA', 'SIERRA LEONE', 'YUGOSLAVIA, SERBIA',
       'AFGHANISTAN', 'IVORY COAST', 'ECUADOR'], dtype=object)

In [223]:

b = df_awa['Targetd'].str.get_dummies(',').sum(1)

In [224]:
b.unique()

array([1, 2, 3], dtype=int64)

In [225]:
df_awa['Target_to_num'] = df_awa['Targetd'].str.get_dummies(',').sum(1)

In [226]:
df_awa['Goal'].unique()

array(['Military victory', 'Shipping for Allies',
       'Destabilize Bolsheviks', 'Military disruption vs. Albania',
       'Withdraw from Bulgaria', 'Settle the Chaco War',
       'Release British citizens', 'Withdraw from Abyssinia',
       'Expropriation dispute', 'Regime change',
       'Withdraw from Southeast Asia', 'Destabilize Peron',
       'Create Palestinian homeland', 'Recognize Indonesia',
       'Assimilate Hyderabad', 'Berlin blockade',
       'Destabilize Tito government', 'Impair military potential',
       'Military disruption, Korea', 'Military impairment',
       'Destabilize Mussadiq', 'Repatriate Soviet defector',
       'Assimilate Goa into India', 'Sovereignty over Gibraltar',
       'Account for MIAs, withdrawal from Cambodia',
       'Intermittent, various', 'Suez nationalization',
       'End Suez intervention', 'Destabilization',
       'Control of West Irian', 'Assistance to Algerian rebels',
       'Adopt pro-USSR policies', 'Destabilize Trujillo',
       'Destabilize Castro', 'Disruption of military adventures',
       'Destabilize Hoxha', 'Berlin Wall',
       'Expropriation, destabilization', 'End apartheid; Namibia',
       'Limit economic independence', 'Military disruption,Yemen,Congo',
       '"Crush Malaysia" ', 'End "Crush Malaysia"', 'Destabilize Diem',
       'Free African colonies', 'Expropriation', 'Reduce copper price',
       'Agriculture policy', 'Majority rule', 'End civil war',
       'French fighter jets', 'Destabilize Allende',
       'Military disruption, Pakistan', 'Defense Agreement',
       'Destabilize Amin', 'Support for Israel', 'Human rights',
       'Military disruption, Cyprus', 'Nuclear proliferation',
       'Freer emigration', 'Nuclear policy', 'Human rights,deter Viets',
       'Restore democracy', 'Human rights, Letelier', 'Antiboycott',
       'Nuclear safeguards', 'Destabilize Somoza',
       'Human rights, expropriation', 'Anti-Chinese rhetoric',
       'Human rights (dissidents)', 'Camp David accords',
       'Withdraw from Kampuchea', 'Destabilize Gadhafi',
       'Return hostages', 'Planned Israel embassy move',
       'Human rights, drugs', 'Invasion of Afghanistan',
       'Impairment, Afghanistan', 'Terrorism', 'Destabilize Sandinistas',
       'Various, Solidarity', 'Impairment, Poland',
       'Withdraw from Falklands', 'Human rights, Cuba-Libya influence',
       'Return South African refugees', 'Nuclear testing',
       'KAL shooting down', 'Foreign policy',
       'Destabilize Bishop-Austin regime', 'Democracy, elections',
       'Human rights, emigration',
       'Nuclear proliferation, terrorism, etc.',
       'Hostage taking, Hezbollah activities ', 'Apartheid',
       'Cuban troops; Marxism', 'Aegean Island; Cyprus; human rights',
       'Repatriation of French agents', 'Destabilize Noriega',
       'Human rights, drugs, elections', 'Amnesty',
       'Restore democracy, modify constitution',
       'Human rights, elections', 'Human rights; civil war',
       'Relations with China', 'Human rights (Tiananmen Square)',
       'Human rights; democracy', 'Withdraw from Nagorno-Karabakh',
       'Military disruption; restore Kuwaiti government; release hostages',
       'Human rights, end civil war',
       'Political repression, human rights, democracy', 'Democracy',
       'Revoke independence declaration', 'Enforce UN embargo v. Iraq',
       'Civil war in Bosnia', 'Coup', 'Human rights in East Timor',
       'Independence for East Timor', 'Human rights for Russians',
       'Democracy, human rights',
       'Support for Revolutionary United Front', 'Civil war ',
       'Human rights, democracy', 'End Armenia embargo',
       'Ban Khmer Rouge', 'Arms sales to Taiwan',
       'Civil control over military; expropriation claims',
       'Extradite Pan Am suspects', 'Civil war, democracy',
       'Human rights, democracy, narcotics',
       'Terrorism, religious persecution',
       'Control over Black Sea fleet and nuclear weapons',
       'Independence issues, energy resources', 'National identity',
       'Release of jailed ethnic Greek leaders', 'Civil violence',
       'Border conflict', 'Human rights; constitutional reform',
       'Narcotics, human rights', 'Possible coup attempt',
       'Destabilize Milosevic', 'Kosovo', 'Kurdish leader',
       'Extradite Osama bin Laden', 'Coup, democracy'], dtype=object)

In [227]:
df_awa['Goal_count'] = df_awa['Goal'].str.get_dummies(',').sum(1)

In [228]:
df_awa

,Case no.b,Sender c,Sender 2c,Sender 3c,Targetd,Goal,US casee,US unilateral casef,Foreign policy goal categoryg,First yearh,Sender_c_to_numeric,Sender2c_to_num,Sender3c_to_num,Total_senders,Target_to_num,Goal_count
0,14-1,UNITED KINGDOM,0,0,GERMANY,Military victory,0.0,0.0,4.0,1914.0,1,0,0,1,1,1
1,17-1,UNITED STATES,0,0,JAPAN,Shipping for Allies,1.0,1.0,5.0,1917.0,1,0,0,1,1,1
2,18-1,UNITED KINGDOM,0,0,RUSSIA,Destabilize Bolsheviks,0.0,0.0,2.0,1918.0,1,0,0,1,1,1
3,21-1,LEAGUE OF NATIONS,0,0,YUGOSLAVIA,Military disruption vs. Albania,0.0,0.0,3.0,1921.0,1,0,0,1,1,1
4,25-1,LEAGUE OF NATIONS,0,0,GREECE,Withdraw from Bulgaria,0.0,0.0,3.0,1925.0,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,98-3,TURKEY,0,0,ITALY,Kurdish leader,0.0,0.0,1.0,1998.0,1,0,0,1,1,1
200,99-1,UNITED NATIONS,UNITED STATES,0,AFGHANISTAN,Extradite Osama bin Laden,1.0,0.0,1.0,1999.0,1,1,0,2,1,1
201,99-2,UNITED STATES,EUROPEAN UNION,FRANCE,IVORY COAST,"Coup, democracy",1.0,0.0,2.0,1999.0,1,1,1,3,1,2
202,99-3,UNITED STATES,JAPAN,0,PAKISTAN,"Coup, democracy",1.0,0.0,2.0,1999.0,1,1,0,2,1,2
203,00-1,UNITED STATES,0,0,ECUADOR,Coup,1.0,0.0,2.0,2000.0,1,0,0,1,1,1